<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://www.flaticon.com/svg/static/icons/svg/3480/3480641.svg" rel="icon" type="icon">
    <link rel="stylesheet" type="text/css" href="../../public/css/style.css">    
    <title>EAT DA BURGER</title>
</head>
<body>
    <div class="container">
        <header class="row justify-content-md-center position-relative">
            <img src="images/burger.jfif"  class="burger-img"alt="burger">

            <h1 class="text-center ">EAT THE BURGER!</h1>
        </header>

        <form class="input-group">
            <textarea type="text" class="form-control" placeholder="Burger" aria-label="Recipient's Burger"></textarea>
        </form>

        <div class="container p-2">
            <div class="row">
              <div class="col-sm p-2">
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Cras justo odio
                      <span class="btn btn-danger badge  rounded-pill" id="devour">DEVOUR</span>
                    </li>
                  </ul>
              </div>

              <div class="col-sm p-2">
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Cras justo odio
                      <span class="btn btn-danger badge  rounded-pill" id="devour-again">DEVOUR AGAIN</span>
                    </li>
                  </ul>
              </div>
            </div>
          </div>
</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script> scr="js/index.js"</script>
</body>
</html>