<div class="container">
        <header class="row justify-content-md-center position-relative">
            <img src="public/images/burger.jfif"  class="burger-img"alt="burger">
                    
            <h1 class="text-center ">EAT THE BURGER!</h1>
        </header>

        <form class="input-group">
            <textarea type="text" class="form-control" placeholder="Burger" aria-label="Recipient's Burger">
        </form>

        <div class="container p-2">
            <div class="row">
              <div class="col-sm p-2">
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Cras justo odio
                      <span class="btn btn-danger badge  rounded-pill" id="devour">DEVOUR</span>
                    </li>
                  </ul>
              </div>

              <div class="col-sm p-2">
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Cras justo odio
                      <span class="btn btn-danger badge  rounded-pill" id="devour-again">DEVOUR AGAIN</span>
                    </li>
                  </ul>
              </div>
            </div>
          </div>
    </div>