body{
    background-color: black;
    color: white;
    font-family: 'Hanalei Fill', cursive;
    -webkit-text-stroke: .5px red;
}

.burger-img{
    width: 33vw;
    height: auto;
    margin: auto;
}

.form{
    width: 90vw;
    margin: 0 auto;
    color:gray;
    -webkit-text-stroke: .5px white;
}

@media (min-width: 576px) and (max-width: 800px) {
    .form{
        width: 50vw;
    }
  }

  @media (min-width: 801px){
    .form{
        width: 33vw;
    }
  }