body{
    background-color: black;
    color: white;
    font-family: 'Hanalei Fill', cursive;
    -webkit-text-stroke: .5px red;
}

.form{
    width: 90vw;
    margin: 0 auto;
    color:gray;
    -webkit-text-stroke: .5px white;
}

@media (min-width: 500px){
    .burger-img{
        width: 80vw;
        height: auto;
        margin: auto;
    }
}
@media (min-width: 576px){
    
    .form{
        width: 50vw;
    }
  }

  @media (min-width: 801px){
    .burger-img{
        width: 50vw;
    }
    .form{
        width: 33vw;
    }
  }

  @media (min-width: 1000px){
    .burger-img{
        width: 33vw;
    }
    .form{
        width: 33vw;
    }
  }